*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gray-light: #edf2f7;
  --gray: #4a5568;
  --gray-dark: #1a202c;
}

html {
  height: 100%;
}

body {
  height: 100%;
  padding: 50px 100px;
  color: var(--gray);
  background-color: var(--gray-light);
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

.contact-icon {
  width: 16px;
  margin-right: 5px;
}

.modal-close-icon,
.alert-dismiss-icon {
  width: 16px;
}
